/*
  Green color scheme:
  #2A7548   Base green for backgrounds
  #7AB793   Very light green for visited links
  #4C996B   Light green for text
  #0F5C2E   Dark green for links
  #003D19   Very dark green for headings
*/

* {
  box-sizing: border-box;
}

h2 {
  color: white;
}

p, a {
  color: #80C18E;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: #003D19;
}

section {
  margin: .5%;
  padding: 5px;
}

#title {
  text-align: center;
}

.about_me {
  width: 49%;
}

#picture {
  background-image: url("myPic.jpg");
  width: 49%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin: .5%;
}

.sample_coursework {
  width: 100%;
  border: 1px solid black;
  background-color: #00400E;
}

.project_1, .project_2, .project_3 {
  width: 100%;
  border: 1px solid black;
  background-color: #0F5C2E;
}

@media (min-width: 992px) {
  .project_1, .project_2, .project_3 {
    width: 32.33%;
  }
  .project_2 > h2 {
    text-align: center;
  }
  .project_3 > h2 {
    text-align: right;
  }
  .container {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project_1, .project_2 {
    width: 49%;
  }
  .project_2 > h2 {
    text-align: right;
  }
  .project_3 > h2 {
    text-align: center;
  }
  .container {
    width: 90%;
  }
}
