/*
  Green color scheme:
  #2A7548   Base green for backgrounds
  #7AB793   Very light green for visited links
  #4C996B   Light green for text
  #0F5C2E   Dark green for links
  #003D19   Very dark green for headings
*/

h2 {
  color: white !important;
}

p, a {
  color: #80C18E;
}

.container {
  background-color: #003D19;
}

#picture {
  background-image: url("myPic.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.sample_coursework {
  background-color: #00400E;
}

.project {
  background-color: #0F5C2E;
}
